<!DOCTYPE html>
<html lang="en" ng-app="app" class="admin-background">

<head>
  <title>TO-DO-LIST</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />


  <!--dependenciesInject:css-->
  <link rel="stylesheet" href="/js/dependencies/ng-tags-input.css">
  <link rel="stylesheet" href="/js/dependencies/lumx.css">
  <!--endinject-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">



  <!--inject:css-->
  <!--endinject-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFkYAl8dcXJusrMQlgpVYrHHuo9UzFlAw"
    async defer></script>

  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }

  </style>

</head>

<body >

  <div ui-view></div>
  

  <!--dependenciesInject:js-->






  <script src="/js/dependencies/jquery.js"></script>






  <script src="/js/dependencies/angular.js"></script>






  <script src="/js/dependencies/velocity.js"></script>






  <script src="/js/dependencies/velocity.ui.js"></script>






  <script src="/js/dependencies/moment.js"></script>






  <script src="/js/dependencies/angular-ui-router.js"></script>






  <script src="/js/dependencies/ng-tags-input.js"></script>






  <script src="/js/dependencies/angular-cookies.js"></script>






  <script src="/js/dependencies/lumx.js"></script>






  <script src="/js/dependencies/angular-locale_es-mx.js"></script>






  <!--endinject-->


  




  <!--modulesInject:js-->


  <script src="/js/app/app.module.js"></script>


  <script src="/js/app/core/core.module.js"></script>


  <!--endinject-->

  <!--providerInject:js-->


  <!--endinject-->

  <!--controllerInject:js-->


  <!--endinject-->

  <!--factoryInject:js-->


  <!--endinject-->

  <!--directiveInject:js-->
  

  
  <!--endinject-->




</body>

</html>
