<div flex-container="row" flex-column="12" class="bgc-white" style="min-height: 100vh;"> 
    <div flex-item="12" class="pt+++  p+">
      <div flex-container="row" flex-column="12" >
        <div flex-item="4">
  
        </div>
        <div flex-item="4">
          <div class="card bgc-white mt++" ng-form="formLogin">
            
            <div class="p++">
                <span class=" mt tc-deep-purple-900 display-block text-center fs-headline">Bienvenido al To-do-List</span>
  
                <lx-text-field class="fs-subheading-2" lx-label="Usuario" lx-allow-clear="true">
                    <input class="fs-subheading-2"   autocomplete="false"  tabindex="1" type="email" required ng-model="vm.dataAux.user.email">
                  </lx-text-field>
  
                  <lx-text-field class="fs-subheading-2" lx-label="Contraseña" lx-allow-clear="true">
                      <input class="fs-subheading-2" autocomplete="false"  tabindex="2" type="password" autocomplete="false" required ng-model="vm.dataAux.user.password">
                    </lx-text-field>
                    <p class="mt mb fs-body-1">¿Todavía no tienes usuario? Crea una cuenta <span ui-sref="register" class="fs-body-2 tc-deep-purple-900 pointer">aquí</span></p>
  
                    <lx-button lx-type="raised" ng-disabled="formLogin.$invalid"  ng-click="vm.events.login(vm.dataAux)">Acceder</lx-button>
  
            </div>
          </div>
          </div>
    </div>
    </div>
  </div>